@font-face {
    font-family: 'Milky';
    src: url(../fonts/milky-week/milky-week.ttf);
    src: url(../fonts/milky-week/milky-week.otf) format("opentype");
    src: url(../fonts/milky-week/milky-week.woff) format("woff");
    src: url(../fonts/milky-week/milky-week.woff2) format("woff2");
}

@font-face{
    font-family: 'Hope Take';
    src: url(../fonts/hope-take/hope-take.ttf);
    src: url(../fonts/hope-take/hope-take.otf) format("opentype");
    src: url(../fonts/hope-take/hope-take.woff) format("woff");
    src: url(../fonts/hope-take/hope-take.woff2) format("woff2");
}

/* General Styling */

.top-display {
    background-size: cover;
    background-image: url("../images/ru-top-img.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 43.75em;
}

.top-bg-tint {
    background-color: rgba(70, 70, 70, .5);
    background-blend-mode: multiply;
}

.top-display h1,
h2 {
    text-align: center;
    font-family: 'Hope Take', sans-serif;
    color: #b3b3b3;
}

.top-display h1 {
    font-size: 7rem;
}

.top-display h2 {
    font-size: 2.5rem;
}

/*msg page top style */
.top-display-msg {
    background-size: cover;
    background-image: url("../images/directors-sunrise.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 43.75em;
}

.top-display-msg h1,
h2 {
    text-align: center;
    font-family: 'Hope Take', sans-serif;
    color: #b3b3b3;
}

.top-display-msg h1 {
    font-size: 7rem;
}

.top-display-msg h2 {
    font-size: 2.5rem;
}

/* Midnav Styling */

.midnav {
    position:relative;
    display: flex;
    background-color: #CCC749;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.midnav ul {
    list-style: none;
}

.midnav ul>li {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    padding: 5px;
}

.midnav ul li>a {
    color: #6D6A0C;
    font-family: 'Milky', Helvetica, sans-serif;
}

.vert-line {
    width: 8px;
    height: 40px;
    background-color: #908C0F;
}

/* Homepage Styling */

.homepg-happen-container{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    width:100%;
    height:50em;
    background-color:#CCC849;
}

.happen-label{
    margin-top:10p;
    font-family:'Milky', Helvetica, sans-serif;
    font-size:5em;
    color:#504E0B;
}

.homepg-happen-microwave{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-bottom:10px;
}

.homepg-news-container{
    background-color:#EBE8A1;
    height:40em;
    width:80em;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.homepg-news-txt-container{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    width:40em;
}

.homepg-news-txt-container h2{
    font-family: Helvetica, sans-serif;
    font-size:3em;
    color:#504E0B;
    text-align:left;
}

.homepg-news-txt-container p{
    margin-top:15px;
    font-family: Helvetica, sans-serif;
    font-size:18pt;
    color:#504E0B;
}

.homepg-news-img{
    width:500px;
    height:auto;
}

.happen-btn{
    background-color:rgb(114, 108, 55, .5);
    margin-left:30px;
    margin-right:30px;
    height:1.5em;
    width:1.5em;
    border-radius:30px;
    border-style:none;
    color:#FFFFFF;
    font-size:30pt;
    font-style:bold;
}

.homepage-mission{
    display: flex;
    height: 45em;
    width: 100%;
    background-color: #73AFBB;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.homepage-mission-background{
    display: flex;
    height: 30em;
    width: 85%;
    background-color: #ADDAE3;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.home-page-mission-background-title{
    text-align: center;
    font-size:20pt;
    width: 80%;
}

.home-page-mission-background-text{
    text-align: center;
    font-size:25pt;
    width: 80%;
}

.camper-reviews{
    display: flex;
    height: 45em;
    width: 100%;
    background-color: #3C7A27;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.camper-reviews-title{
    text-align: center;
    padding-bottom:.75em;
    font-size:50pt;
    width: 80%;
    font-family:'Milky', Helvetica, sans-serif;
    color:#F6F1C5;
}

.camper-reviews-background{
    display: flex;
    height: 30em;
    width: 85%;
    background-color: #2E5E1E;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.camper-review-columes{
    height: 25em;
    width: 22.5%;
    background-color: #224B13;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    border-radius: 5%;
    align-items: center;
    text-align:center;
}

.review-name{
    font-size:3em;
    font-family:'Milky', Helvetica, sans-serif;
    width: 80%;
    color:#CFCAA5;
}

.review-text{
    font-size:1.2em;
    width: 80%;
    color:#CFCAA5;
    font-family:Helvetica, sans-serif;
}




/* About Styling */

footer{
    display:flex;
    color: rgb(255, 255, 255);
    background-color: #19400B;
}

footer p{
    font-family:'Milky', Helvetica, sans-serif;
    color: rgb(255, 255, 255);

}
.footerse1 {

    position: relative;
    right: 3vw;
    display: inline-block;
    margin: 1vw;
    margin-right: 0vw;
    width: 45vw;
    background-color: #0C2404;
    padding: 5vw;
    text-align: center;
    padding-top: 4vw;
    font-size: 1.5vw;
    border-radius: 3vw;
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    -ms-border-radius: 3vw;
    -o-border-radius: 3vw;
}

.footerse2 {
    font-family:'Milky', Helvetica, sans-serif;
    position: relative;
    top:2vw;/**/
    display: inline-block;
    margin: 1vw;
    margin-right: 0vw;
    width: 45vw;
    background-color: #0C2404;
    padding: 5vw;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 1.5vw;
    border-radius: 3vw;
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    -ms-border-radius: 3vw;
    -o-border-radius: 3vw;
}

.footer h4 {
    font-family:'Milky', Helvetica, sans-serif;
    font-size: 3vw;
    margin-bottom: 1.3vw;
}

.footer {

    border-spacing: 2vw;
    padding-left: 4vw;
    padding-right: 2vw;
}

.socials {
    display: inline-block;
    background-color: #081702;
    border-radius: 3vw;
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    -ms-border-radius: 3vw;
    -o-border-radius: 3vw;
    margin: .2vw;
    padding-bottom: 0vw;
    color:black;
}

.socials img {
    display: inline-block;
    background-color: #FFFFFF;
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 2vw;
    -webkit-border-radius: 2vw;
    -moz-border-radius: 2vw;
    -ms-border-radius: 2vw;
    -o-border-radius: 2vw;
    margin: 2vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

form {

    padding-top: 2vw;
    font-size: 3vw;
}

input {
    font-family:'Milky', Helvetica, sans-serif;
    background-color: #FFBE0D;
    color: #534900;
    font-size: 2.4vw;
    padding: .5vw;
    padding-right: 3vw;
    padding-left: 3vw;
    border-radius: .9vw;
    -webkit-border-radius: .9vw;
    -moz-border-radius: .9vw;
    -ms-border-radius: .9vw;
    -o-border-radius: .9vw;
}

.email {
    background-color: white;
    color: grey;
    font-size: 2vw;
    padding: .8vw;
    padding-right: 6vw;
    border-radius: .9vw;
    -webkit-border-radius: .9vw;
    -moz-border-radius: .9vw;
    -ms-border-radius: .9vw;
    -o-border-radius: .9vw;
}
footer a{
        
    display: inline-block;
    color:white;
    font-size: 1vw;
    font-weight:bolder;
    margin-top: .4vw;
 margin-bottom: 1vw;
}
.bigcategory{   

    display:flex;
    flex-direction: row;
    text-align: center;
    margin: 2vw;    
    margin-left: 5vw;

}
.smallcategory{
    
    display: flex;
    flex-direction: column;
    margin: 2vw;    
}
.smallcategory a{
    font-family:'Milky', Helvetica, sans-serif;
    font-size: 2.5vw;
    color:rgb(200, 200, 200);
}
.footertopper a{
    color:white;
    font-size: 3.5vw;
}


/* HAT Styling */
.hat-top {
    display: flex;
    background-color: #0B343D;
    align-items: center;
    justify-content: space-evenly;
    height: 35em;
    position: relative;
    max-width: 1920px;
}

.hat-img {
    max-width: 100%;
    height: auto;
}

.hat-start {
    max-width: 50em;
}

.hat-start h3 {
    font-size: 45pt;
    font-family: 'Milky', Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 0px 4px rgb(255, 255, 255, 1);
}

.hat-start p {
    padding-top: 15px;
    font-size: 18pt;
    font-family: Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 0px 4px rgb(255, 255, 255, 1);
}

.hat-fade {
    height: 200px;
    background: linear-gradient(0deg, #73AFBB, #0B343D);
    position: relative;
    z-index: 10;
}

.hat-end {
    background-color: #73AFBB;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40em;
    position: relative;
    max-width: 1920px;
}

.hat-today{
    max-width:45em;
}

.hat-today h3{
    font-size: 45pt;
    color: #1E5D6A;
    font-family:'Milky', Helvetica, sans-serif;
    text-shadow: 0px 0px 3px rgb(11, 52, 61, 36);
}

.hat-today p{
    padding-top: 15px;
    font-size: 20pt;
    color: #1E5D6A;
    font-family:'Milky', Helvetica, sans-serif;
    text-shadow: 0px 0px 3px rgb(11, 52, 61, 36);
}

.hat-img-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    max-width:20em;
}

.hat-img-middle{
    height:auto;
    max-width:100%;
}

.hat-img-bottom{
    padding-top:1em;
    height:auto;
    max-width: 100%;
}


/*Camp Info Styling */

.camps-section {
    display: flex;
    height: 800px;
    width: 100%;
    background-color: #3C7A27;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.camps-container-full{
    height: 600px;
    width: 80%;
    background-color: #2e5d1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.camps-section h2{
    font-family: 'Milky', Helvetica, sans-serif;
    font-size:4em;
    padding-top:.5em;
    color:#F6F1C5;
}

.indiv-camp{
    height: 400px;
    width: 25%;
    background-color: #224B13;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.button {
    background-color: #16300E;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    height: 50px;
    width: 45%;
    margin-top: 300px;
    border-radius: 15px;
    flex-shrink: 0;
}

.camp-name {
    text-align: center;
    width: 100px;
}

.see-our-camps{
    display: flex;
    height: 800px;
    width: 100%;
    background-color: #FFFBDB;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.whats-going-on{
    display: flex;
    height: 800px;
    width: 100%;
    background-color: #ADDAE3;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}



/*Message from our Director */
.message-container{
    display: flex;
    height: 90em;
    width: 100%;
    background-color: #0B343D;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.background-message-from-our-director{
    position:relative;
    display: flex;
    height: 100em;
    width: 100%;
    background-color: #0B343D;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.message-from-our-director-text{
    text-align: center;
    font-size:20pt;
    width: 80%;
}

.message-from-our-director-image{
    justify-content: center;
    align-items: center;
}

.message-from-our-director-donate-button{
    width:150px;
    height:3.5%;
    border-radius:3em;
    background-color:#1D5C68;
    border-style:none;
    font-family:'Milky', Helvetica, sans-serif;
    font-size:1.5em;
    color:#ADDAE3;
}

.message-from-our-director-donate-button:hover{
    background-color:#2B6E7B;
}

